.sg-nav {
    margin-right: 110px;
    margin-left: 0%;
}

html {
    background: #434343 !important;
    color: white !important;
}

p h1 h2 h3 a i {
    color: #434343;
}

a i:hover {
    color: #2a2a2a;
}